### 1. Download Shopify dataset and create table script:

#### Open terminal and run:
`gsutil cp gs://cs327e-open-access/spanner_shopify.zip .`

`unzip spanner_shopify.zip`

### 2. Configure Spanner CLI and create Shopify Database

In [1]:
%env GOPATH=/home/jupyter/go
%env PATH=$PATH:/usr/local/go/bin:$GOPATH/bin
%env SPANNER_EMULATOR_HOST=localhost:9010
%env CLI=/home/jupyter/go/bin/spanner-cli
%env SPAN_PROJECT=ilitzkyzhou
%env SPAN_INSTANCE=span-instance
%env SPAN_DATABASE=test-database

env: GOPATH=/home/jupyter/go
env: PATH=$PATH:/usr/local/go/bin:$GOPATH/bin
env: SPANNER_EMULATOR_HOST=localhost:9010
env: CLI=/home/jupyter/go/bin/spanner-cli
env: SPAN_PROJECT=ilitzkyzhou
env: SPAN_INSTANCE=span-instance
env: SPAN_DATABASE=test-database

In [2]:
!$CLI -p $SPAN_PROJECT -i $SPAN_INSTANCE -d $SPAN_DATABASE -e "show tables"

Tables_in_test-database
T1

In [3]:
CLI_CONNECT="$CLI -p $SPAN_PROJECT -i $SPAN_INSTANCE -d $SPAN_DATABASE"

In [7]:
!{CLI_CONNECT} -e "create database shopify"

In [8]:
%env SPAN_DATABASE=shopify

env: SPAN_DATABASE=shopify

In [9]:
!$CLI -p $SPAN_PROJECT -i $SPAN_INSTANCE -d $SPAN_DATABASE -e "show tables"

In [10]:
!{CLI_CONNECT} -f /home/jupyter/snippets/spanner_shopify/create_tables.sql

In [11]:
!{CLI_CONNECT} -e "show tables"

Tables_in_shopify
key_benefits
apps
pricing_plans
apps_categories
pricing_plan_features
categories
reviews

In [12]:
!{CLI_CONNECT} -e "show create table key_benefits"

Table	Create Table
key_benefits	CREATE TABLE key_benefits (
  app_id STRING(50),
  title STRING(2000),
  description STRING(MAX),
) PRIMARY KEY(app_id, title)

In [13]:
!{CLI_CONNECT} -e "show create table apps"

Table	Create Table
apps	CREATE TABLE apps (
  id STRING(50),
  url STRING(1000),
  title STRING(2000),
  developer STRING(100),
  developer_link STRING(1000),
  icon STRING(1000),
  rating FLOAT64,
  reviews_count INT64,
) PRIMARY KEY(id)

In [14]:
!{CLI_CONNECT} -e "show create table pricing_plans"

Table	Create Table
pricing_plans	CREATE TABLE pricing_plans (
  id STRING(50),
  app_id STRING(50),
  title STRING(200),
  price FLOAT64,
) PRIMARY KEY(id)

In [15]:
!{CLI_CONNECT} -e "show create table apps_categories"

Table	Create Table
apps_categories	CREATE TABLE apps_categories (
  app_id STRING(50),
  category_id STRING(50),
) PRIMARY KEY(app_id, category_id)

In [16]:
!{CLI_CONNECT} -e "show create table pricing_plan_features"

Table	Create Table
pricing_plan_features	CREATE TABLE pricing_plan_features (
  pricing_plan_id STRING(50),
  app_id STRING(50),
  feature STRING(MAX),
) PRIMARY KEY(pricing_plan_id, app_id, feature)

In [17]:
!{CLI_CONNECT} -e "show create table categories"

Table	Create Table
categories	CREATE TABLE categories (
  id STRING(50),
  title STRING(2000),
) PRIMARY KEY(id)

In [18]:
!{CLI_CONNECT} -e "show create table reviews"

Table	Create Table
reviews	CREATE TABLE reviews (
  app_id STRING(50),
  author STRING(250),
  rating INT64,
  posted_at DATE,
) PRIMARY KEY(app_id, author)

### 3. Populate tables

In [19]:
from google.cloud import spanner
from google.cloud.spanner_v1 import param_types
import pandas as pd

In [20]:
span_instance="span-instance"
span_database="shopify"
spanner_client = spanner.Client()
instance = spanner_client.instance(span_instance)
database = instance.database(span_database)

In [21]:
df = pd.read_csv('/home/jupyter/snippets/spanner_shopify/apps.csv', sep=',', header=0, lineterminator='\n')
values = df.values.tolist()

with database.batch() as batch:
    batch.insert(
        table="apps",
        columns=("id", "url", "title", "developer", "developer_link", "icon", "rating", "reviews_count"),
        values=values
    )

In [22]:
df = pd.read_csv('/home/jupyter/snippets/spanner_shopify/apps_categories.csv', sep=',', header=0, lineterminator='\n')
values = df.values.tolist()

with database.batch() as batch:
    batch.insert(
        table="apps_categories",
        columns=("app_id", "category_id"),
        values=values
    )

In [23]:
df = pd.read_csv('/home/jupyter/snippets/spanner_shopify/categories.csv', sep=',', header=0, lineterminator='\n')
values = df.values.tolist()

with database.batch() as batch:
    batch.insert(
        table="categories",
        columns=("id", "title"),
        values=values
    )

In [24]:
df = pd.read_csv('/home/jupyter/snippets/spanner_shopify/key_benefits.csv', sep=',', header=0, lineterminator='\n')
values = df.values.tolist()

with database.batch() as batch:
    batch.insert(
        table="key_benefits",
        columns=("app_id", "title", "description"),
        values=values
    )

In [25]:
df = pd.read_csv('/home/jupyter/snippets/spanner_shopify/pricing_plans.csv', sep=',', header=0, lineterminator='\n')
values = df.values.tolist()

with database.batch() as batch:
    batch.insert(
        table="pricing_plans",
        columns=("id", "app_id", "title", "price"),
        values=values
    )

In [26]:
df = pd.read_csv('/home/jupyter/snippets/spanner_shopify/pricing_plan_features.csv', sep=',', header=0, lineterminator='\n')
values = df.values.tolist()

with database.batch() as batch:
    batch.insert(
        table="pricing_plan_features",
        columns=("pricing_plan_id", "app_id", "feature"),
        values=values
    )

In [27]:
!{CLI_CONNECT} -e "select count(*) from apps"

3547

In [25]:
!{CLI_CONNECT} -e "select count(*) from apps_categories"

5383

In [26]:
!{CLI_CONNECT} -e "select count(*) from categories"

12

In [27]:
!{CLI_CONNECT} -e "select count(*) from key_benefits"

9541

In [28]:
!{CLI_CONNECT} -e "select count(*) from pricing_plans"

6275

In [29]:
!{CLI_CONNECT} -e "select count(*) from pricing_plan_features"

16270

In [28]:
def insert_app(transaction):

    row_ct = transaction.execute_update(
        "INSERT INTO apps (id, url, title, developer, developer_link, icon, reviews_count) "
        "VALUES ('683d06af-14c7-4733-9bde-ec5b699af996', "
          "'https://apps.shopify.com/watchlist?surface_detail=inventory-management&surface_inter_position=1&surface_intra_position=9&surface_type=category'," 
          "'Back in Stock Product Alerts', "
          "'Swym Corporation', "
          "'https://apps.shopify.com/partners/developer-ca6a967f09890f68',"
          "'https://apps.shopifycdn.com/listing_images/9905a4c8f22cb4a3b0c32af55a58ec21/icon/e6d46a7e5e1df375d542d033aae80459.png?height=72&width=72',"
           "0)"
    )
    
    print("{} record(s) inserted.".format(row_ct))
    
    row_ct = transaction.execute_update(
        "INSERT INTO apps_categories (app_id, category_id) "
        "VALUES ('683d06af-14c7-4733-9bde-ec5b699af996', '737ad50051083aa051d127a53b3ac0da')"
    )
    
    print("{} record(s) inserted.".format(row_ct))
    
    
    row_ct = transaction.execute_update(
        "INSERT INTO key_benefits (app_id, title, description) "
        "VALUES ('683d06af-14c7-4733-9bde-ec5b699af996', "
          "'Drive Back In Stock Sales', 'Back in stock, out of stock, pre order & restock alerts')"
    )
    
    print("{} record(s) inserted.".format(row_ct))
    
    row_ct = transaction.execute_update(
        "INSERT INTO pricing_plans (id, app_id, title, price) "
        "VALUES ('961a2751-1dbd-4f0f-8248-9fe6a6efd4ab', '683d06af-14c7-4733-9bde-ec5b699af996', "
                "'Free Trial', 14.99)"
    )
    
    print("{} record(s) inserted.".format(row_ct))
    

    row_ct = transaction.execute_update(
        "INSERT INTO pricing_plan_features (app_id, pricing_plan_id, feature) "
        " VALUES ('683d06af-14c7-4733-9bde-ec5b699af996', '961a2751-1dbd-4f0f-8248-9fe6a6efd4ab', "
                 "'Up to 250 alert requests/mo')"
    )
    
    print("{} record(s) inserted.".format(row_ct))
      
database.run_in_transaction(insert_app)

1 record(s) inserted.
1 record(s) inserted.
1 record(s) inserted.
1 record(s) inserted.
1 record(s) inserted.

In [29]:
def update_price(transaction):
    row_ct = transaction.execute_update(
            "UPDATE pricing_plans "
            "SET price = price / 2 "
            "WHERE price > 0"
        )

    print("{} record(s) updated.".format(row_ct))

database.run_in_transaction(update_price)

4780 record(s) updated.

In [30]:
def delete_app(transaction):
        row_ct = transaction.execute_update(
            "DELETE FROM apps WHERE id = '683d06af-14c7-4733-9bde-ec5b699af996'"
        )

        print("{} record(s) deleted.".format(row_ct))
        
        row_ct = transaction.execute_update(
            "DELETE FROM apps_categories WHERE app_id = '683d06af-14c7-4733-9bde-ec5b699af996'"
        )
        
        print("{} record(s) deleted.".format(row_ct))
        
        row_ct = transaction.execute_update(
            "DELETE FROM key_benefits WHERE app_id = '683d06af-14c7-4733-9bde-ec5b699af996'"
        )
        
        print("{} record(s) deleted.".format(row_ct)) 
        
        
        row_ct = transaction.execute_update(
            "DELETE FROM pricing_plans WHERE app_id = '683d06af-14c7-4733-9bde-ec5b699af996'"
        )
        
        print("{} record(s) deleted.".format(row_ct)) 
        
        
        row_ct = transaction.execute_update(
            "DELETE FROM pricing_plan_features WHERE app_id = '683d06af-14c7-4733-9bde-ec5b699af996'"
        )
        
        print("{} record(s) deleted.".format(row_ct))

database.run_in_transaction(delete_app)

1 record(s) deleted.
1 record(s) deleted.
1 record(s) deleted.
1 record(s) deleted.
1 record(s) deleted.

In [31]:
!{CLI_CONNECT} -e "ALTER TABLE apps_categories \
  ADD CONSTRAINT apps_cat_app_id_fk FOREIGN KEY (app_id) REFERENCES apps (id)"

In [32]:
!{CLI_CONNECT} -e "show create table apps_categories"

Table	Create Table
apps_categories	CREATE TABLE apps_categories (
  app_id STRING(50),
  category_id STRING(50),
  CONSTRAINT apps_cat_app_id_fk FOREIGN KEY(app_id) REFERENCES apps(id),
) PRIMARY KEY(app_id, category_id)

In [33]:
!{CLI_CONNECT} -e "CREATE INDEX app_rating_idx ON apps(rating)"

In [34]:
!{CLI_CONNECT} -e "SELECT *, c.title FROM categories c JOIN apps_categories ON c.id = category_id AND reviews_count >= 50 AND rating >= 4.0 JOIN apps ON id = app_id WHERE c.title = 'Productivity' "

ERROR: spanner: code = "InvalidArgument", desc = "Unrecognized name: reviews_count [at 1:84]\n...c JOIN apps_categories ON c.id = category_id AND reviews_count >= 50 AND r...\n                                                    ^"

In [35]:
!{CLI_CONNECT} -e "SELECT *, c.title FROM categories c JOIN apps_categories on c.id = category_id JOIN apps on id = app_id limit 10"

ERROR: spanner: code = "InvalidArgument", desc = "Column name id is ambiguous [at 1:93]\n...apps_categories on c.id = category_id JOIN apps on id = app_id limit 10\n                                                      ^"

In [38]:
!{CLI_CONNECT} -e "SELECT * from pricing_plans limit 10"

id	app_id	title	price
0026d738-8882-4b7a-ace6-c3576519fcf6	cf40fd67-b1a8-416b-9e3a-0ed871482cd7	GROWING	9.995000
009656dc-be67-4849-890e-ee9592db9d46	8e3bb7b6-3fa6-4eed-8b26-2743a392b350	NaN	0.000000
009fe053-e571-4d2b-a65c-66b2925ee447	eec5d3a9-085c-4def-820a-7169c6c5153b	NaN	1.995000
00bc6ace-f1fb-4e99-a512-87a184bb83e4	48a8bbeb-e2f5-48dc-a6fb-c2ea2b9c0d9c	Basic plan	2.500000
00decc4c-91d2-4616-b696-f53bc29d2937	0579c9d7-d43c-4210-855e-20626b23816a	FREE FOREVER	0.000000
000db1c4-a95b-426d-a22a-303a39a31137	bb72bf2e-6f66-4b00-927e-5dce03eac0e7	Pro	5.495000
00406090-e69a-41da-a616-8e8f6c15dbab	b39071cf-7b1b-410b-99fa-3bb1ae651482	NaN	0.000000
00987633-1ace-4365-8205-d27fb867419b	b3e944b3-d35a-423d-bf4d-2c1ab682642b	NaN	0.000000
00b31d76-ca8a-40cb-9e87-8433f8103d0d	3ac1bdaa-7f57-4d94-bfeb-640697c86c3c	NaN	0.000000
00d3de20-9af4-47e0-8cd0-3bbf8f5e6dfd	f9c1c055-0f11-4cb0-aa6e-8c1c8edf424c	Pro plan	99.500000

In [39]:
!{CLI_CONNECT} -e "SELECT * from pricing_plan_features limit 10"

pricing_plan_id	app_id	feature
000a9a28-ef82-40fc-87ca-e7da6aae9091	b12e072c-5a27-4185-93c2-4189d0073899	Reports
000db1c4-a95b-426d-a22a-303a39a31137	bb72bf2e-6f66-4b00-927e-5dce03eac0e7	40% OFF YEARLY PLANS THRU CYBER MONDAY!
000db1c4-a95b-426d-a22a-303a39a31137	bb72bf2e-6f66-4b00-927e-5dce03eac0e7	SEO Alt Tags
0040817a-4d82-4e78-9526-e5c517e7fba0	c0e4170a-43a3-4d3b-9436-e9b152e84a1c	3. A+ Customer Support
009a3ef8-d417-405f-89d0-af320b9ba566	b910d1f9-8cb5-4b15-b368-7758c8cf47d8	Unlimited products
000a9a28-ef82-40fc-87ca-e7da6aae9091	b12e072c-5a27-4185-93c2-4189d0073899	Design & language customization
000a9a28-ef82-40fc-87ca-e7da6aae9091	b12e072c-5a27-4185-93c2-4189d0073899	Upsell & cross-sell
000db1c4-a95b-426d-a22a-303a39a31137	bb72bf2e-6f66-4b00-927e-5dce03eac0e7	Autoplay Videos
0040817a-4d82-4e78-9526-e5c517e7fba0	c0e4170a-43a3-4d3b-9436-e9b152e84a1c	1. Unique Thumb Zone Navigation Menu
0040817a-4d82-4e78-9526-e5c517e7fba0	c0e4170a-43a3-4d3b-9436-e9b152e84a1c	5. Responsive Across All Devices

In [40]:
!{CLI_CONNECT} -e "SELECT pf.pricing_plan_id, pf.feature, price from pricing_plan_features pf JOIN pricing_plans on pf.pricing_plan_id = id and price > 5 limit 10"

pricing_plan_id	feature	price
000db1c4-a95b-426d-a22a-303a39a31137	40% OFF YEARLY PLANS THRU CYBER MONDAY!	5.495000
00a73604-400c-412c-9c63-85b4b532cc01	The calendar on each Product	7.995000
00c3174b-423c-47d3-81b4-b1d61ef53cf6	Business Upgrade for all 50 apps	39.995000
00e0e470-60fa-4bbe-a518-aad828a8dd42	Unlimited offer views	24.995000
011ea107-e8d4-48b7-b5de-8e68625c5ec7	24/7 AI Optimization	14.500000
000a9a28-ef82-40fc-87ca-e7da6aae9091	Reports	19.995000
000db1c4-a95b-426d-a22a-303a39a31137	SEO Alt Tags	5.495000
00b90066-0696-45a3-a410-268c6ef2bf74	Sales Receipts, Sales Order	37.500000
00d3de20-9af4-47e0-8cd0-3bbf8f5e6dfd	Upgrade to an Enterprise plan for account management	99.500000
00e63879-141c-4c43-8332-5c77b8fe29dc	All Integrations	64.500000

# Begin Project 3 Work

### Populate the reviews table in the shopify database from reviews.csv.

In [36]:
df = pd.read_csv('/home/jupyter/snippets/spanner_shopify/reviews.csv', sep=',', header=0, lineterminator='\n')
values = df.values.tolist()

with database.batch() as batch:
    batch.insert(
        table="reviews",
        columns=("app_id", "author", "rating", "posted_at"),
        values=values
    )

### Run a count on the reviews table.

In [37]:
!{CLI_CONNECT} -e "SELECT count(*) from reviews"

124601

### Describe the reviews table using the show create table command.

In [38]:
!{CLI_CONNECT} -e "show create table reviews"

Table	Create Table
reviews	CREATE TABLE reviews (
  app_id STRING(50),
  author STRING(250),
  rating INT64,
  posted_at DATE,
) PRIMARY KEY(app_id, author)

### Add two fake reviews to the reviews table for app_id ='6286d4cd-3fcb-4ee3-bb3c-de051c28b83c' and update the corresponding app record in the apps table with an average rating and review count based on your assigned values. Wrap this logic into a single transaction.

In [42]:
def reviews_app(transaction):
    row_ct = transaction.execute_update(
        "INSERT INTO reviews(app_id, author, rating, posted_at) VALUES('683d06af-14c7-4733-9bde-ec5b699af996', 'Edward', 1, '2021-03-02')"
    )
    
    row_ct = transaction.execute_update(
        "INSERT INTO reviews(app_id, author, rating, posted_at) VALUES('683d06af-14c7-4733-9bde-ec5b699af996', 'David', 5, '2021-03-02')"
    )
    
    row_ct = transaction.execute_update(
        "INSERT INTO apps (id, url, title, developer, developer_link, icon, reviews_count) "
        "VALUES ('683d06af-14c7-4733-9bde-ec5b699af996', "
          "'https://apps.shopify.com/watchlist?surface_detail=inventory-management&surface_inter_position=1&surface_intra_position=9&surface_type=category'," 
          "'Back in Stock Product Alerts', "
          "'Swym Corporation', "
          "'https://apps.shopify.com/partners/developer-ca6a967f09890f68',"
          "'https://apps.shopifycdn.com/listing_images/9905a4c8f22cb4a3b0c32af55a58ec21/icon/e6d46a7e5e1df375d542d033aae80459.png?height=72&width=72',"
           "0)"
    )
    
    row_ct = transaction.execute_update(
        "UPDATE apps SET reviews_count=2, rating=3 WHERE id='683d06af-14c7-4733-9bde-ec5b699af996'"
    )

database.run_in_transaction(reviews_app)

### Find and add any missing foreign key constraints using the ALTER TABLE command, and describe each table modified.

Added foreign key constraint to apps_categories table for apps_categories.app_id to reference apps.id

In [67]:
!{CLI_CONNECT} -e "ALTER TABLE apps_categories ADD CONSTRAINT fk_apps FOREIGN KEY (app_id) REFERENCES apps (id)"

Added foreign key constraint to apps_categories table for apps_categories.category_id to reference categories.id

In [68]:
!{CLI_CONNECT} -e "ALTER TABLE apps_categories ADD CONSTRAINT fk_categories FOREIGN KEY (category_id) REFERENCES categories (id)"

Added foreign key constraint to key_benefits table for key_benefits.app_id to reference apps.id

In [70]:
!{CLI_CONNECT} -e "ALTER TABLE key_benefits ADD CONSTRAINT fk_app_benefits FOREIGN KEY (app_id) REFERENCES apps (id)"

Added foreign key constraint to pricing_plans table for pricing_plans.app_id to reference apps.id

In [71]:
!{CLI_CONNECT} -e "ALTER TABLE pricing_plans ADD CONSTRAINT fk_app_pricing FOREIGN KEY (app_id) REFERENCES apps (id)"

Added foreign key constraint to reviews table for reviews.app_id to reference apps.id

In [49]:
!{CLI_CONNECT} -e "ALTER TABLE reviews ADD CONSTRAINT fk_app_reviews FOREIGN KEY (app_id) REFERENCES apps (id)"

### Optimize this query: select * from apps a join reviews r on a.id = r.app_id where a.rating >= 5.0 and r.author = 'Funky Moose Records';

In [44]:
!{CLI_CONNECT} -e "CREATE INDEX reviews_author_idx ON reviews(author)"

In [45]:
!{CLI_CONNECT} -e "CREATE INDEX reviews_idx ON reviews(app_id)"

In [48]:
!{CLI_CONNECT} -e "select * from apps a inner join reviews r on a.id = r.app_id where a.rating >= 5.0 and r.author = 'Funky Moose Records'"

id	url	title	developer	developer_link	icon	rating	reviews_count	app_id	author	rating	posted_at
5373693a-c29e-49c5-9b59-bea48c88ed7e	https://apps.shopify.com/reconvert	ReConvert Post Purchase Upsell	StilyoApps	https://apps.shopify.com/partners/stilyo	https://apps.shopifycdn.com/listing_images/66d9956edf807b697e7f539e5e9bbaf3/icon/9cc30225cab5cf16e0082596d0c17711.png?height=84&width=84	5.000000	603	5373693a-c29e-49c5-9b59-bea48c88ed7e	Funky Moose Records	5	2019-03-21
ec42fb4d-8b33-4652-9f65-d8860c49ed16	https://apps.shopify.com/shippable	Shippable Back‑Order Manager	JSJ.Expert	https://apps.shopify.com/partners/jsj-expert	https://apps.shopifycdn.com/listing_images/9c286192f0d1f0b6641e3098bc7701d2/icon/db16f90af3a20a11261d66bab28554e7.png?height=84&width=84	5.000000	2	ec42fb4d-8b33-4652-9f65-d8860c49ed16	Funky Moose Records	5	2018-10-16
3531b725-f0d8-4661-bd51-ca863d17b015	https://apps.shopify.com/quick-pick	Quick Pick Pick Lists	JSJ.Expert	https://apps.shopify.com/partners/jsj-expert	https://apps.shopifycdn.com/listing_images/b0f803948bb23b85ea90f0b4ef564b62/icon/ecc03cf47ab3cebb6ee636d5cd84af8f.png?height=84&width=84	5.000000	10	3531b725-f0d8-4661-bd51-ca863d17b015	Funky Moose Records	5	2018-09-12
89f0221f-9faa-4d76-b587-13411cb909fb	https://apps.shopify.com/incentivise	Incentivise Loyalty & Rewards	JSJ.Expert	https://apps.shopify.com/partners/jsj-expert	https://apps.shopifycdn.com/listing_images/f0025941b65ac163b6a43364217d3fbb/icon/ad7c8d68abbbaccd7280e5fb7d771876.png?height=84&width=84	5.000000	1	89f0221f-9faa-4d76-b587-13411cb909fb	Funky Moose Records	5	2019-07-09