In [5]:
%run bollywood_actors_dataflow.py

In [86]:
%run bollywood_dataflow.py

In [87]:
%run bollywood_actress_dataflow.py

In [64]:
%run name_basics_dataflow.py

In [2]:
%run genres_join_dataflow.py

In [39]:
%run genres_dataflow.py

In [67]:
!bq query --nouse_legacy_sql \
"create or replace table datamart.genre_join_dataflow as select g.genre_id, j.tconst from datamart.genre_dataflow g join datamart.genre_join_dataflow j on g.genre=j.genre"

Waiting on bqjob_r1efa40e98017ac44_0000017964077c52_1 ... (22s) Current status: DONE
Replaced ilitzkyzhou.datamart.genre_join_dataflow

In [55]:
!bq query --nouse_legacy_sql \
"select firstName, lastName from datamart.bollywood_actors_dataflow group by firstName, lastName having count(*) > 1"

Waiting on bqjob_r15f8d2705bae6ea5_0000017963d3e8f4_1 ... (0s) Current status: DONE

In [60]:
!bq query --nouse_legacy_sql \
"select firstName, lastName from datamart.bollywood_actress_dataflow group by firstName, lastName having count(*) > 1"

Waiting on bqjob_r403b0c0a03936f9b_0000017963e30101_1 ... (0s) Current status: DONE

In [62]:
!bq query --nouse_legacy_sql \
"select Title, Director from datamart.bollywood_dataflow group by Title, Director having count(*) > 1"

Waiting on bqjob_r196267811792f5aa_0000017963e78325_1 ... (0s) Current status: DONE

In [65]:
!bq query --nouse_legacy_sql \
"select nconst from datamart.name_basics_dataflow group by nconst having count(*) > 1"

Waiting on bqjob_r64987ef13634702c_000001796404a277_1 ... (9s) Current status: DONE

In [68]:
!bq query --nouse_legacy_sql \
"select genre_id, tconst from datamart.genre_join_dataflow group by genre_id,tconst having count(*) > 1"

Waiting on bqjob_r5b66b60a55a30943_00000179640a3db7_1 ... (14s) Current status: DONE

In [69]:
!bq query --nouse_legacy_sql \
"select genre_id from datamart.genre_dataflow group by genre_id having count(*) > 1"

Waiting on bqjob_r46f38b93b90e3f97_00000179640a8478_1 ... (0s) Current status: DONE

In [71]:
!bq query --nouse_legacy_sql \
"select a.firstName, a.lastName from datamart.bollywood_actress_dataflow a left outer join datamart.bollywood_dataflow b on b.Title=a.Debut_aslead_role where b.Title is null"

Waiting on bqjob_r3a48ffc0a50b7a62_000001796413f77a_1 ... (0s) Current status: DONE

Distinct primary keys and valid child table references in the tables hold.

Due to the limited structure of the bollywood dataset, it is relatively difficult to get any meaningful cross-dataset queries from the data.

The goal with this query is to determine whether specific bollywood actresses have an effect on the average rating or the popularity of specific movies. This is done by joining the bollywood_actress_dataflow table with the title table, which has been grouped by its primary Title as the title table contains many duplicates of a primaryTitle.

In [91]:
!bq query --nouse_legacy_sql \
"select a.firstName, a.lastName, t.primaryTitle, t.averageRating, t.numVotes from datamart.bollywood_actress_dataflow a join \
(select primaryTitle, avg(averageRating) as averageRating, sum(numVotes) as numVotes from datamart.title group by primaryTitle) t on t.primaryTitle=a.Debut_aslead_role \
where t.averageRating is not null order by averageRating desc limit 10"

Waiting on bqjob_r7ed20f73c28a2c88_0000017964a3810f_1 ... (4s) Current status: DONE
+-----------+----------+------------------------------+---------------+----------+
| firstName | lastName |         primaryTitle         | averageRating | numVotes |
+-----------+----------+------------------------------+---------------+----------+
| Soha      | Ali      | Rang De Basanti              |           8.2 |   113139 |
| Parveen   | Babi     | Deewaar                      |           8.1 |    10205 |
| Ileana    | D'Cruz   | Barfi!                       |           8.1 |    76399 |
| Disha     | Patani   | M.S. Dhoni: The Untold Story |           7.8 |    41194 |
| Tabu      | \N       | Maachis                      |           7.8 |     2020 |
| Yami      | Gautam   | Vicky Donor                  |           7.8 |    40007 |
| Richa     | Chadda   | Oye Lucky! Lucky Oye!        |           7.7 |    16450 |
| Prachi    | Desai    | Rock On!!                    |           7.7 |    20972 |
| Ritika    | Singh    | Saala Khadoos                |           7.6 |    11458 |
| Shilpa    | Shetty   | Baazigar                     |           7.6 |    26152 |
+-----------+----------+------------------------------+---------------+----------+

We want to see if specific bollywood directors produce better received titles than others. This is done by joining the bollywood_dataflow table with the title table, and comparing the averageRating of each director by grouping by the Director. However, it is possible that the average rating is skewed for some directors with very low movies produced, so we filter out any director who has less than 5 movies directed.

In [97]:
!bq query --nouse_legacy_sql \
"select b.Director, avg(t.averageRating) as averageRating, count(*) as numMovies from datamart.bollywood_dataflow b join datamart.title t on t.primaryTitle=b.Title \
group by b.Director having numMovies >= 5 order by averageRating desc limit 10"

Waiting on bqjob_r36eafab221f8d2c3_0000017964b3e37c_1 ... (1s) Current status: DONE
+------------------------+-------------------+-----------+
|        Director        |   averageRating   | numMovies |
+------------------------+-------------------+-----------+
| I. P. Tiwari           |               9.0 |         8 |
| Ezra Mir               |               8.7 |        19 |
| M. Sadiq, S.U. Sunny   |              8.52 |        24 |
| A. N. Bannerjee        |               8.3 |         6 |
| H. M. Reddy            |               8.2 |         5 |
| Sampooran Singh Gulzar |               8.2 |        11 |
| Farhan Akhtar          | 8.133333333333333 |         7 |
| V. M. Gunjal           |               8.1 |        12 |
| Rajkumar Hirani        |              8.04 |         8 |
| Mamasaheb Shinde       |               8.0 |         6 |
+------------------------+-------------------+-----------+

We are aiming to see whether the month a movie was released in has any impact on its average rating, or the number of votes. This is done by joining the bollywood_dataflow table with the title table, and grouping the average rating and the total number of votes with the release month, which tells us the average rating and the total number of votes per month.

In [51]:
!bq query --nouse_legacy_sql \
"select b.Release_Month, avg(t.averageRating) as averageRating, sum(t.numVotes) as numVotes from datamart.bollywood_dataflow b join datamart.title t on t.primaryTitle=b.Title group by b.Release_Month having b.Release_Month is not null order by Release_Month"

Waiting on bqjob_r6ea0e85ed952cc58_0000017963bac592_1 ... (1s) Current status: DONE
+---------------+--------------------+----------+
| Release_Month |   averageRating    | numVotes |
+---------------+--------------------+----------+
|             1 |  6.611343283582088 |  1018162 |
|             2 | 6.4373493975903635 |  1110583 |
|             3 |   6.70439276485788 |   596763 |
|             4 |  6.665902578796562 |   459825 |
|             5 | 6.5424124513618676 |   855088 |
|             6 |  6.353723404255319 |   556955 |
|             7 |  6.320652173913045 |   786715 |
|             8 | 6.5854838709677415 |  1907714 |
|             9 |  6.599770642201834 |  1437652 |
|            10 |  6.776237623762376 |  1940828 |
|            11 | 6.2575581395348845 |   603364 |
|            12 |  6.628671328671329 |  1384102 |
+---------------+--------------------+----------+